.countdown-timer{
  background-color: yellow;
  width: 60%;
  height: 30%;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 2rem;
}

.option-buttons{
  background-color: purple;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-button{
  background-color: green;
  color: black;
}

.timer{
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
.display-time{
  font-size: 1.5rem;
}