.container{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inputs-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-inputs{
  height: 50%;
  background-color: rgb(215, 88, 88);
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2rem;
}

.focus-input, .break-input, .sets-count{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.countdown-timer{
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-buttons{
  background-color: rgb(214, 23, 23);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.option-button{
  all:unset;
  background-color: lime;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 15px;
}

.option-button:hover{
  background-color: green;
  cursor: pointer;
}

.timer{
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.75rem;
}
.display-time{
  font-size: 3rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}

input[type="range"]::-webkit-slider-runnable-track{
  background-color: rgb(156, 246, 156);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */
  background-color: #ffffff;
  height: 1rem;
  width: 1rem;    
  border-radius: 50%;
}